.about-me__conteiner-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .about-me__conteiner-info {
        flex-direction: column-reverse;
        align-items: center;
    }
}