.about-me__conteiner-info__element__description {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 26px;
}


@media screen and (max-width: 769px) {
    .about-me__conteiner-info__element__description {
        font-size: 12px;
        line-height: 18px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 321px) {
    .about-me__conteiner-info__element__description {
        font-size: 11px;
        line-height: 16px;
    }
}