.about-me__title {
    color: #000000;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.04em;
    margin: 0;
    padding: 0 0 23px;
    border-bottom: 1px solid #000000;
    width: calc(100% - 140px);
    height: 27px;
    width: 100%;
}

@media screen and (max-width: 321px) {
    .about-me__title {
        font-size: 18px;
        line-height: 22px;
    }
}