.about-me__conteiner-info__element__link {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin: 99px 0 0;
    text-decoration: none;
    color: #000000;
    transition: opacity 1s;
}

.about-me__conteiner-info__element__link:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 769px) {
    .about-me__conteiner-info__element__link {
        margin-top: 87px;
    }
}

@media screen and (max-width: 500px) {
    .about-me__conteiner-info__element__link {
        margin-top: 40px;
    }
}