.about-me__conteiner-links__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0;
    text-decoration: none;
    border-bottom: 1px solid #E6E6E6;
    width: 100%;
    transition: opacity 1s;
}

.about-me__conteiner-links__element:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    
    .about-me__conteiner-links__element {
        margin: 40px 0 0;
        width: calc(100vw - 58px);
    }
}

@media screen and (max-width: 390px) {
    .about-me__conteiner-links__element {
        width: calc(100vw - 28px);
    }
}