.navigation {
    margin: 20px 40px 0;
    height: 493px;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 769px) {
    .navigation {
        margin: 20px 20px 0;
        height: 834px;
    }
}

@media screen and (max-width: 700px) {
    .navigation {
        height: 586px;
        margin: 20px 14px 0;
    }
}