.navigation__title {
    height: 116px;
    width: 730px;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
    padding: 160px 0 151px;
    margin: 0 auto 0;
}

@media screen and (max-width: 769px) {
    .navigation__title {
        width: 680px;
        height: 104px;
        padding: 350px 0 314px;
        font-size: 40px;
        line-height: 52px;
    }
}

@media screen and (max-width: 700px) {
    .navigation__title {
        height: 111px;
        width: 100%;
        padding: 220px 0 212px;
        font-size: 29px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: -0.04em;
    }
}