.app {
  background-color: #FFFFFF;
  margin: 0 auto 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 3840px;
}