.header__container-element {
    display: flex;
    align-items: center;
}

.header__container-element:nth-child(1) {
    margin-left: 74px;
}

.header__container-element:nth-child(2) {
    margin-right: 74px;
}

@media screen and (max-width: 769px) {
    .header__container-element:nth-child(1) {
        margin-left: 30px;
    }

    .header__container-element:nth-child(2) {
        margin-right: 30px;
    }
}

@media screen and (max-width: 321px) {
    .header__container-element:nth-child(1) {
        margin-left: 14px;
    }

    .header__container-element:nth-child(2) {
        margin-right: 14px;
    }
}