.about-me__conteiner-links__element-image {
    width: 27px;
    height: 60px;
    padding-bottom: 19px;
}

@media screen and (max-width: 390px) {
    .about-me__conteiner-links__element-image {
        width: 18px;
        height: 28px;
    }
}