.header__button_profile {
    width: 54px;
    Height: 32px;
    background-color: #F9F9F9;
    border-radius: 20px;
    border: none;
}

.header__button_profile:nth-child(1) {
    padding-right: 16px;
}

.header__button_profile:nth-child(2) {
    width: 142px;
} 