.header__button-nav {
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    transition: opacity 1s;
}

.header__button-nav:hover {
    cursor: pointer;
    opacity: 0.5;
} 

@media screen and (max-width: 590px) {
    .header__button-nav {
        width: 22px;
        height: 22px;
    }
}