.header__link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100px;
    border: none;
    border-radius: 20px;
    transition: opacity 1s;
    text-decoration: none;
    color: black;
    background-color: #F9F9F9;
    display: inline-block;
    padding: 8px 0 8px
}

.header__link:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 590px) {
    .header__link {
        font-size: 10px;
        width: 64px;
        padding: 5px 0 5px
    }
}