.movies-card__favourites_off {
    width: 30px;
    height: 30px;
    background-color: #2BE080;
    border-radius: 36px;
    border: none;
    background-image: url(./../../../images/icon__COLOR_stroke-2.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}