.portfolio {
    display: flex;
    flex-direction: column;
    padding:0 0 125px;
    align-items: center;
    justify-content: center;
    margin: 0 70px 0;
    max-width: 100vw;
}

@media screen and (max-width: 769px) {
    .portfolio {
        padding-top: 90px 0 90px;
        margin: 0 50px 0;
    }
}

@media screen and (max-width: 600px) {
    .portfolio {
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .portfolio {
        padding-top: 70px 0 70px;
        margin: 0 28px 0;
    }
}