.about-project__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 70px 0 0;
}

.about-project__info:nth-child(2) {
    margin-left: 30px;
}

@media screen and (max-width: 700px) {
    .about-project__info {
        width: 100%;
        margin: 60px 0 0;
    }

    .about-project__info:nth-child(2) {
        margin: 56px 0 0;
    }
}